# ===============================
# DATA (BIG FILES – NEVER PUSH)
# ===============================
data/
*.csv
*.tsv
*.zip
*.tar
*.gz

# ===============================
# MODELS
# ===============================
models_saved/
*.pth
*.pt

# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/



# ===============================
# VS CODE
# ===============================
.vscode/

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# LOGS / OUTPUTS
# ===============================
*.log
outputs/
results/
